*{margin: 0;padding: 0;}
div,body,p,span,form,input,ul,li,a,i,select,textarea,img{margin:0;padding:0;}
img{border:none}
input{border:none}
a{text-decoration: none;}
.clear{clear: both;}
body{
    font-family: '宋体';
    background-color: #f5f5f5;
}
header{
    height: 56px;
    box-shadow: #dddddd 0 2px 10px;
    background: #fff;
    width: 100%;
}
.head-box{
    background: #3acf8f;
    width: 16%;
    height: 56px;
    float: right;
}
.main{
    margin-top: 20px;
}
.inner{
    width: 1140px;
    margin: 0 auto;
}
.news{
    width: 560px;
    height: 700px;
    margin: 0 auto;

}
.message-show{
    height: 72%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #3acf8f;
    box-sizing: border-box;
    overflow-y: auto;
}
.message-list{
    margin: 10px;
    display:inline-block;
    width: 96%;
}
.message-list span{
    padding: 0 6px;
    background-color: #3acf8f;
    color:#fff;
    font-size: 14px;
    line-height: 30px;
    border-radius:3px;
    display:inline-block;
}
.system-msg{
    display: inline-block;
    width: 100%;
    margin:10px 0;
    text-align:center;
}
.system-msg span{
    font-size: 14px;
    line-height: 24px;
    border-radius:3px;
    color: #222;
    background-color: #ddd;
    padding: 0 6px;
    text-align: center;
    display: inline-block;
}
.news textarea{
    height: 10%;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    resize: none;
    padding: 0 6px;
    font-size: 14px;
    color: #222;
    line-height: 26px;
    border: 1px solid #3acf8f;
}
.btn-advertising .btn{
    display: block;
    width: 80px;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    background-color: #3acf8f;
    text-align: center;
    float: right;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}